@model Garderie.ViewModels.EmployeViewModels.DetailsEmployeViewModel

@{
    ViewData["Title"] = "Details Employé";
}

<h2>Details</h2>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumSecu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumSecu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poste)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poste)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Externe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Externe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
