@model Garderie.ViewModels.GroupeViewModels.DetailsGroupeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descriptif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descriptif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Referant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Referant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeGroupe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeGroupe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
