@model IEnumerable<Garderie.ViewModels.ArticleViewModels.IndexArticleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">
    <p>

        Catégorie: <select name="CategorieArticle" asp-items="Model.First().Categories">
            <option value="">Tous</option>
        </select>
        Mot clé: <input type="text" name="MotCle">
        <input type="submit" value="Rechercher" />
    </p>
</form>

<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantite)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categorie)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Quantite)
                    </td>
                    <td class="col-md-2">
                        <img src="@Html.DisplayFor(modelItem => item.Photo)" class="img-thumbnail img-responsive center-block" style="width:204px;height:auto;" />
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.Categorie)
                    </td>
                    <td class="col-md-2">
                        <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>


