@model Garderie.Models.Adresse

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adresse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ligne1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ligne1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ligne2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ligne2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ligne3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ligne3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AdresseId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
