@model IEnumerable<Garderie.Models.Conge>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DossierEmploye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeConge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DossierEmploye.DossierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeConge.TypeCongeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CongeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CongeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CongeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
