@model IEnumerable<Garderie.Models.FichePaye>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalaireBrut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbHeuresPrevu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbHeuresReel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DossierEmploye)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalaireBrut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbHeuresPrevu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbHeuresReel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DossierEmploye.DossierId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FichePayeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FichePayeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FichePayeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
