@model Garderie.Models.DocumentOfficiel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentOfficiel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dossier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dossier.DossierId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
