@model IEnumerable<Garderie.Models.DocumentOfficiel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dossier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dossier.DossierId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
