@model TravelExpress5.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails</h2>

<div>
    <h4>Réservation @Model.Trajet.VilleDepart - @Model.Trajet.VilleArrivee le @Model.Trajet.DateDepart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NbPlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlaces)
        </dd>

    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Retour", "Index")
</p>
