@model IEnumerable<TravelExpress5.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes réservations</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NbPlaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajet.Conducteur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajet.DateDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajet.VilleDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajet.VilleArrivee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NbPlaces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajet.Conducteur.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajet.DateDepart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajet.VilleDepart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajet.VilleArrivee)
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
