@model Garderie.Models.DossierEmploye

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DossierEmploye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateEntree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEntree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NbMoisAnciennete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbMoisAnciennete)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TauxHoraireBrut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TauxHoraireBrut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employe.EmployeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeContrat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeContrat.TypeContratId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DossierId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
