@model TravelExpress5.Models.Trajet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer un trajet</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce trajet ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPlacesMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlacesMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleArrivee)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour", "MesTrajets")
        </div>
    }
</div>
