@model TravelExpress5.Models.Trajet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails du trajet</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPlacesMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlacesMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleDepart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleDepart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleArrivee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleArrivee)
        </dd>

    </dl>
</div>


@if (Model.Conducteur.Email.Equals(User.Identity.Name) == false && User.Identity.IsAuthenticated == true)
{
    <div>
        @Html.ActionLink("Réserver une place", "Create", "Reservations", new { id = Model.Id }, null)
    </div>
}

<br />
    <p>
        <a href="/Trajets/MesTrajets" class="btn btn-default">Retour</a>
    </p>
