@model IEnumerable<TravelExpress5.Models.Trajet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trouvez le trajet dont vous avez besoin !</h2>

<br />
<h4>Faire une recherche</h4>
<div>
    @using (@Html.BeginForm("Index"))
    {
        <div class="form-group">
            <label class="control-label col-md-1">Départ : </label>
            <div class="col-md-2">
                <input type="text" name="depart" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1">Arrivée : </label>
            <div class="col-md-2">
                <input type="text" name="arrivee" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-1">Date : </label>
            <div class="col-md-3">
                <input type="date" name="date" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                <input type="submit" value="Rechercher" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<br />
<br />
<br />

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conducteur.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbPlacesMax)
            </th>
            <th>
                Places restantes
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VilleArrivee)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conducteur.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbPlacesMax)
            </td>
            <td>
                @item.NbPlacesLibres()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VilleArrivee)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
</div>

<div class="form-actions no-color">
    <a href="Trajets" class="btn btn-default">Retour à tous les trajets</a>
</div>